@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: : 32px;
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
}

#page {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* Text */
h1 {
  margin: 0 0 1em 0;
  font-size: 3.0em;
  font-weight: 500;
}

h2 {
  margin: 0 0 0.5em 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1em;
}

h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.3em;
  font-weight: 700;
}

h4 {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  font-weight: 700;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: #007eff;
}

a:visited {
  color: #65b1ff;
}

a.btn {
  font-size: 1.4em;
  text-decoration: none;
  color: #060000;
  border: 3px solid #000000;
  padding: 4px 10px;
  transition: background-color 0.5s;
}

a.btn:hover {
  background-color: rgba(0,0,0,0.3); 
}

a.btn1 {
  font-size: 1.4em;
  text-decoration: none;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  padding: 4px 15px;
  transition: background-color 0.5s;
}

a.btn1:hover {
  background-color: rgba(255,255,255,0.3); 
}

/* Header */
header {
  height: 430px;
  background: #605D63 url(../images/310560_screenshots_20190311153336_1.jpg)no-repeat center bottom;
  position: relative;
  filter:
}

header a.logo {
  z-index: 1;
  position: absolute;
  display: block;
  width: 160px;
  height: 66px;
  background: url(../images/dirtlogo.png) no-repeat 0 0;
  background-size: contain;
  top: 15px;
  left: 20px;
  filter: 
}

header div.hero {
  position: absolute;
  width: 42%;
  top: 130px;
  left: 55%;
}

header div.hero h1 {
  line-height: 1em;
  margin: 0 0 30px 0;
  color: #000000;
}

/* Section - All */
section {
  padding: 0 30px;
}

section:after {
  content: '';
  display: block;
  clear: both;
}

/* Section - Main */
section.main {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
}

section.main aside {
  width: 33%;
  float: left;
  text-align: center;
}

section.main .content {
  margin: 15px;
  background: no-repeat center top;
  background-size: 75px 75px;
  padding-top: 85px;
}

section.main aside h3 a{
  color: #000;
  text-decoration: none;
}

section.main aside h3 a:hover {
  text-decoration: underline;
}

section.main aside .content.gas {
  background-image: url(../images/car-png-icon-5.jpg);
}

section.main aside .content.track {
  background-image: url(../images/2000px-Race_track_icon_-_Noun_Project_12965.svg.png);
}

section.main aside .content.hd {
  background-image: url(../images/7-512.png);
}

/* Section - Arrticle */

section.arrticle {
  background-color: #1E1C1C;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

section.arrticle article {
  padding: 0 20px 0 515px;
  background: url(../images/maxresdefault.jpg) no-repeat 0 5px;
  min-height: 220px;
}

/* Section - Berita */
section.berita {
  background-color: #eee9d9;
  position: relative;
}

section.berita aside {
  width: 30%;
  float: left;
  margin-right: 10px;
}

section.berita aside .content {
  padding: 30px 30px 20px 0;
}

section.berita aside .content img {
  display: block;
  margin-bottom: 15px;
  width: 70%;
}

section.berita aside .content h4 {
  margin-bottom: 0;
}

section.berita aside .content h4 {
  margin-bottom: .5em;
}

section.berita aside .content h4 {
  display: inline-block;
  color: #000000;
  font-weight: 700;
}

section.berita blockquote {
  margin: 0;
  width: 32%;
  color: #444;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 4%;
}

section.berita blockquote p {
  margin: 30px 30px 20px 50px;
}

section.berita blockquote p.quote {
  font-style: italic;
  font-size: 1.2em;
}

section.berita blockquote p.credit {
  color: #777;
  font-size: .9em;
  margin-top: 0;
  padding-left: 20px;
  line-height: 1.3em;
  position: relative;
}

section.berita blockquote::before{
  content: '\201c';
  color: #d2bd65;
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 5em;
  font-family: serif;
}

section.berita blockquote p.quote::after {
  content:'\201d';
  font-family: serif;
}

section.berita blockquote p.credit::before {
  content: '\2014';
  position: absolute;
  top: -1px;
  left: 0;
}

/* Navigation */
nav {
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 50px 0 0 0;
  width: 100%;
}

nav::after {
  content: '';
  display: block;
  clear: both;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

nav ul li:hover {
  background-color: #000000;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  width: 125px;
  position: relative;
}

nav ul li a:visited {
  color: #fff;
}

nav ul li a:hover {
  background-color: #000000;
}

nav ul ul {
  position: absolute;
  top: 100%;
  background-color: #1A1918;
  display: none;
}

nav ul ul li {
  position: relative;
}

nav ul ul ul {
  left: 100%;
  top: 0px;
}

/* top-level */
nav > ul {
  padding-left: 200px;
}

nav > ul > li {
  float: left;
}

nav > ul > li > a {
  width: auto;
  padding: 10px 20px 15px 20px;
}



/* Footer */
footer {
  font-size: .8em;
  margin: 40px;
  color: #999;
}

footer .content {
  display: inline;
}

footer a {
  margin-left: 30px;
  color: #777;
}

footer a:visited {
  margin-left: 30px;
  color: #777;
}

footer a:hover {
  margin-left: 30px;
  color: #000;
}

footer.socmed aside .content.fb {
  background-image: url(../images/);
}


.resize {   
  width: auto;
  display: inline-block;
}

.resize img {
  width: 3%; /* Will shrink image to 30% of its original width */
  height: auto;    
  position: absolute;
  right: 0px;
}

.resizeinsta {   
  width: auto;
  display: inline-block;
}

.resizeinsta img {
  width: 3%; /* Will shrink image to 30% of its original width */
  height: auto;    
  position: absolute;
  right: 50px;
}

.twitter {
	width: auto;
	display: inline-block;
}

.twitter img {
	width: 3%;
	height: auto;
	position: absolute;
	right: 100px;
}

.youtube {
	width: auto;
	display: inline-block;
}

.youtube img {
	width: 3%;
	height: auto;
	position: absolute;
	right: 150px;
}

.steam {
	width: auto;
	display: inline-block;
}

.steam img {
	width: 3%;
	height: auto;
	position: absolute;
	right: 200px;
}
